In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [24]:
tickers = ['NVDA', 'SQ']

sec_data = pd.DataFrame()

for t in tickers:
    
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2015-11-20')['Adj Close']

In [25]:
sec_data.tail()

                  NVDA         SQ
Date
2017-10-17  197.750000  32.689999
2017-10-18  197.580002  32.520000
2017-10-19  197.800003  32.119999
2017-10-20  196.899994  32.500000
2017-10-23  196.619995  32.529999

In [26]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [27]:
sec_returns

                NVDA        SQ
Date
2015-11-20       NaN       NaN
2015-11-23 -0.015086 -0.058487
2015-11-24  0.008053 -0.008285
2015-11-25 -0.001284 -0.010034
2015-11-27  0.008317  0.012526
2015-11-30  0.010458 -0.000830
2015-12-01  0.031955 -0.010856
2015-12-02 -0.007663  0.001678
2015-12-03 -0.002156 -0.000839
2015-12-04  0.039896  0.010017
2015-12-07 -0.019145  0.026231
2015-12-08  0.013500 -0.019608
2015-12-09 -0.025654 -0.010784
2015-12-10  0.008220  0.004992
2015-12-11 -0.014969 -0.008333
2015-12-14  0.002459  0.031304
2015-12-15  0.012206  0.011290
2015-12-16  0.006048 -0.016169
2015-12-17 -0.015189  0.004067
2015-12-18 -0.016356  0.001622
2015-12-21  0.023371 -0.008137
2015-12-22  0.000911  0.017814
2015-12-23  0.003940  0.003205
2015-12-24  0.003322  0.007968
2015-12-28 -0.000905  0.018089
2015-12-29  0.016163 -0.007040
2015-12-30 -0.008648  0.003135
2015-12-31 -0.012962  0.023967
2016-01-04 -0.018062 -0.073697
2016-01-05  0.015936 -0.054936
...              ...       ...
2017-09-12  0.003603 -0.010941
2017-09-13  0.004471  0.008035
2017-09-14 -0.005710  0.040982
2017-09-15  0.061305 -0.004900
2017-09-18  0.040478  0.006645
2017-09-19 -0.001067 -0.004542
2017-09-20 -0.008092 -0.003156
2017-09-21 -0.027716 -0.002462
2017-09-22 -0.009784  0.012249
2017-09-25 -0.045722 -0.046272
2017-09-26  0.005598  0.005812
2017-09-27  0.021687  0.016523
2017-09-28 -0.000285  0.014852
2017-09-29  0.017436  0.011169
2017-10-02  0.001286  0.019932
2017-10-03  0.002065  0.018541
2017-10-04  0.008328  0.006990
2017-10-05 -0.000553  0.020030
2017-10-06  0.002928  0.000000
2017-10-09  0.022309  0.010028
2017-10-10  0.018915  0.008014
2017-10-11  0.010583  0.021479
2017-10-12  0.000471  0.024997
2017-10-13  0.018464  0.000000
2017-10-16  0.017019  0.012419
2017-10-17 -0.000910 -0.016083
2017-10-18 -0.000860 -0.005214
2017-10-19  0.001113 -0.012376
2017-10-20 -0.004560  0.011761
2017-10-23 -0.001423  0.000923

[484 rows x 2 columns]

In [28]:
#NVDA
sec_returns['NVDA'].mean()

0.0038251443132582643

In [29]:
sec_returns['NVDA'].mean() * 250

0.9562860783145661

In [31]:
sec_returns['NVDA'].std()

0.0265955604992932

In [32]:
sec_returns['NVDA'].std() * 250 ** .5

0.4205127341328574

In [33]:
#SQ
sec_returns['SQ'].mean()

0.0019230204935883604

In [34]:
sec_returns['SQ'].mean() * 250

0.4807551233970901

In [35]:
sec_returns['SQ'].std()

0.028157101120268334

In [36]:
sec_returns['SQ'].std() * 250 ** .5

0.445202859238633

In [37]:
sec_returns[['NVDA', 'SQ']].mean() * 250

NVDA    0.956286
SQ      0.480755
dtype: float64

In [38]:
sec_returns[['NVDA', 'SQ']].std() * 250 ** .5

NVDA    0.420513
SQ      0.445203
dtype: float64