In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [4]:
#Securities
tickers = ['NVDA', 'SQ']

#Empty Security Data Frame
sec_data = pd.DataFrame()

#Get data and put it into empty data frame
for t in tickers:
    
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2015-11-20')['Adj Close']
    
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
#Calculate variance for 250 trading days
NVDA_var = sec_returns['NVDA'].var() * 250
NVDA_var

0.1764873322254898

In [6]:
SQ_var = sec_returns['SQ'].var() * 250
SQ_var

0.19780189827503278

In [9]:
#Calculate covariance matrix
cov_matrix = sec_returns.cov() * 250
cov_matrix

          NVDA        SQ
NVDA  0.176487  0.036705
SQ    0.036705  0.197802

In [11]:
#Calculate correlation matrix
cov_matrix = sec_returns.corr()
cov_matrix

          NVDA        SQ
NVDA  1.000000  0.196452
SQ    0.196452  1.000000